# autotools
doc/basetest.html
doc/testapi.html
ppmclibs/tinycv_wrap.cxx
*.tmp
aclocal.m4
autom4te.cache/
m4/
.libs/
missing
install-sh
config.status
config.log
config.guess
config.sub
configure
libtool
ltmain.sh
Makefile
Makefile.in
depcomp
.deps/
*.tar.gz
*.tar.xz
*.o
*.so
*.lo
*.la
temp
old
_Inline
*~
compile
test-driver
videoencoder
debugviewer/debugviewer
snd2png/snd2png
snd2png/test.pnm
snd2png/test.pnm.md5
t/*.log
t/*.trs
t/data/*.log
cover_db/*
.*.swp
t/data/autoinst-status.json
t/data/base_state.json
t/data/os-autoinst.pid
t/data/qemu_state.json
t/data/qemuscreenshot/
t/data/raid/
t/data/vars.json
t/data/video.ogv
t/data/video_time.vtt
virtio_console.log
