#!/bin/sh

# if you have something slower than Core i7 you might need to increase the IDLETHRESHOLD value... e.g. on my Phenom X4 I have 25 instead of 18
export IDLETHESHOLD=18

# default: 0.5 (two screenshots per second)
export SCREENSHOTINTERVAL=0.5

export HTTPPROXY=192.168.234.34:3128

# leave empty for http://download.opensuse.org/factory
export SUSEMIRROR=http://ftp5.gwdg.de/pub/opensuse/factory
#export RAIDLEVEL=6

# is this a beta version with extra popup window on welcome screen?
export BETA=1

# if you want to run tests in parallel, you need to give different ports
# note that $QEMUPORT+1 is also used
export QEMUPORT=15222

