#!/bin/sh

# if you have something slower than Core i7 you might need to increase the IDLETHRESHOLD value... e.g. on my Phenom X4 I have 25 instead of 16
# TODO: describe how to know that it is too slow or too fast; what breaks
# value: load percentage
export IDLETHRESHOLD=16

# default: 0.5 (two screenshots per second)
export SCREENSHOTINTERVAL=5

# If you want to use local cases instead of distro based one
# Use full path, no relative route!
export CASEDIR=/home/test/os-autoinst/distri/mageia-4

# if you want to run tests in parallel, you need to give different ports
# note that $QEMUPORT+1 is also used
export QEMUPORT=15224

# which VNC port to use. default is to allow vncviewer $HOSTNAME:99
export VNC=localhost:98
# VNC keyboard layout of vncclient machine
#export VNCKB=de

#export DESKTOP=kde
# export DESKTOP=none
export DESKTOP=gnome

export PART=lvm
#export PART=default

export QEMUVGA=std

# # NOT IMPLEMENTED BELOW
# Use automatic (kickstart) installation.   This will then reference the distrib/mageia/auto_inst.d config.
# export AUTO_INST="../os-autoinst/distri/mageia4/auto_insts/minimal-1/auto_inst.cfg.pl"
# export KEEPHDDS=1
# export NOINSTALL=1 
