---
# Check if commit messages follow the conventional commits format
name: 'Commit message check'
# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches:
      - '!master'

jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/devel/openqa/containers/os-autoinst_dev
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run gitlint
        run: |
          git config --global --add safe.directory '*'
          prove -v xt/70-git-commit-message.t
